body {
    background: #eee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;

}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin-right: 75px;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 6px #a9a9a9;
}

.logo img {
    height: 100px;
}

.search form {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

.search button {
    padding: 5px 10px;
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.weather-content {
    margin-right: 75px;
    margin-left: 75px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100vh;
}

.weather-information{
    display: flex;
    justify-content: space-between;
}

.weather-temperature{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 10px #a9a9a9;
}

.weather-type{
    position: relative;
    top: 0px;
    left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 10px #a9a9a9;
}